@tailwind base;
@tailwind components;
@tailwind utilities;

.dark strong {
  @apply text-sky-500;
}

/* Ẩn scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
  animation-play-state: running;
}

.paused-spin {
  animation-play-state: paused !important;
}
